.bloglist-post{
	margin: 20px 0;
}
.bloglist-post-title{
	font-size:24px;margin-bottom: 0px;
}
.bloglist-post-subtitle{
	margin-top: 0px;font-size: 18px;color: #333; 
}
.blog-post-title{
	font-weight: normal;margin-bottom: 0px;
}
.blog-post-subtitle{
	font-weight: normal;margin-top: 0px;
}
.bloglist-post-meta{
	font-size: 12px;
}
.meta{
	margin-top: 20px;
}
.time,.like,.tweet{
	float: left;
	margin-right: 10px;
}
.time{
	margin-right: 20px;
}
.comments{
	margin-top: 20px;
}
.fb_iframe_widget{
	top: -7px;
}
blockquote{
	border-left: 10px solid #c7c7c7;
    margin: 0;
    padding: 10px;
    background: #eeeeee;
}
blockquote p{
	margin: 0;
	padding: 0;
}