<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% if page.title %}{{ page.title }}{% if page.subtitle %} - {{ page.subtitle }}{% endif %} | {% endif %}Arun David's Blog</title> 
        {% if page.canonical_url %}
        <link rel="canonical" href="{{ page.canonical_url }}" />
        {% endif %}
        <meta name="description" content="Full-time Technologist; Part-time Entrepreneur; Weekend Photograpger; Seasonal Traveler." />          
        <meta name="author" content="Arun David" />
      
        <link rel="stylesheet" href="/css/style.css" media="all" />
        <link rel="stylesheet" href="/css/blog.css" media="all" />
        <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1.0; user-scalable=no"/>
        <script src="/js/init.js"></script>
        <!-- <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
        <link rel="icon" href="favicon.png" type="image/x-icon" /> -->
      
    </head>
    <body>
        <div class="container">
            <aside class="sidebar">
                <div class="col1">
                    <header class='header'>
                        <div class='header-img-container header-img-transition'>
                            <a href='{{ site.site_base }}'>
                            <!--<div class='logo-text'>A</div>-->
                            <img alt='Arun David' title='Arun David' src="/images/arundavid.jpg" class="header-img notoggle-img">
                            <!-- <img src="images/arundavid2.bmp" class="header-img img-interest">
                            <img src="images/arundavid3.jpg" class="header-img img-skill"> -->
                            </a>
                        </div>
                        <a href='{{ site.site_base }}' class='header-text'>Arun David</a>
                            <div class='desc'>
                                Tech at <a href="https://scripbox.com" target="_blank">Scripbox</a>
                                <br/>Co-founder <a href="http://www.doparttime.com" target="_blank">DoPartTime</a>
                                <br/>Technologist<br/> Bangalore, India
                            </div>
                    </header>
                    <nav>
                        <ul class="nav-list">
                            <li><a href="{{ site.site_base }}" class="nav-link" >Home</a></li>
                            <li><a href="{{ site.site_base }}#about" class="nav-link nav-highlight noimg-highlight" section-highlight='section-about' img-highlight='img-about'>About</a></li>
                            <li><a href="{{ site.blog_base }}" class="active nav-link nav-highlight noimg-highlight" section-highlight='section-blog' img-highlight='img-about'>Blog</a></li>
                            <!-- <li><a href="{{ site.site_base }}#interest" class="nav-link nav-highlight noimg-highlight" section-highlight='section-interest' img-highlight='img-interest'>Interests</a></li> -->
                            <li><a href="{{ site.site_base }}#skills" class="nav-link nav-highlight noimg-highlight" section-highlight='section-skills' img-highlight='img-skill'>Skills</a></li>
                            <li><a href="{{ site.site_base }}#portfolio" class="nav-link nav-highlight" section-highlight='section-portfolio'>Portfolio</a></li>
                            <li><a href="{{ site.site_base }}#contact" class="nav-link nav-highlight noimg-highlight" section-highlight='section-contact' img-highlight='img-contact'>Contact</a></li>
                            <div class="clear"></div>
                        </ul>
                        <br/><a href="https://twitter.com/ArnDvd" class="twitter-follow-button" data-show-count="false">Follow @ArnDvd</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </nav>
                </div>
            </aside>
            <main class="content">
                <div class="page-content">
                    {{ content }}
                </div>
            </main>
            <div class="clear"></div>
            <footer>
                <div class="page-copyright">Arun David &copy; 2017</div>
            </footer>
        </div>
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600' rel='stylesheet' type='text/css'>
        <script src="/js/jquery-1.10.2.min.js"></script>
        <script src="/js/script.js"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-45104494-1', 'arundavid.com');
          ga('send', 'pageview');

        </script>

    </body>
</html>
